/* Algemeen */
.title {
	margin-top: 25%;
}

.profile {
	margin-top: 30%;
	text-align: center;
}

.second {
	display: flex;
	text-align: left;
}

.second h4 {
	margin: 50px;
}

/* Cards */
.content h1 {
	text-align: center;
	margin-bottom: 20px;
}

.carts {
	margin-top: 150px;
}
.card-list {
	display: flex;
	flex-wrap: wrap;
	gap: 15%; /* Ruimte tussen de kaarten */
	justify-content: center; /* Centreer de items */
	padding: 0;
	margin: 0;
	list-style: none;
}

.card {
	position: relative;
	width: 500px;
	height: 500px;
	color: #fff;
	transition: 0.5s;
	cursor: pointer;
	margin-bottom: 100px;
	margin-top: 40px;
}

.card:hover {
	transform: translateY(-20px);
}

.card::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: linear-gradient(45deg, #c77bff, #040129);
	border-radius: 1.2em;
}

.card::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(45deg, #5773a6, #c87bff47);
	filter: blur(10px);
}

.card span {
	position: absolute;
	top: 6px;
	left: 6px;
	right: 6px;
	bottom: 6px;
	background-color: #040129;
	z-index: 2;
	border-radius: 1em;
}

.card .content {
	position: relative;
	padding: 20px;
	z-index: 10;
	width: 90%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-weight: 800;
	font-size: 1.2em;
	text-align: center;
}
