/* Algemeen */
.title {
	margin-top: 25%;
}

.profile {
	margin-top: 30%;
	text-align: center;
}

.second {
	display: flex;
	text-align: left;
}

.second h4 {
	margin: 50px;
}
.lineImg {
	width: 120%;
	margin-left: -12%;
	margin-top: -30px;
}
/* Cards */
.content h1 {
	text-align: center;
	margin-bottom: 40px;
}

.carts {
	margin-top: -250px;
	text-align: center;
}
.card-list {
	display: flex;
	flex-wrap: wrap;
	gap: 15%; /* Ruimte tussen de kaarten */
	justify-content: center; /* Centreer de items */
	padding: 0;
	margin: 0;
	list-style: none;
}

.card {
	position: relative;
	width: 500px;
	height: 500px;
	color: #fff;
	transition: 0.5s;
	cursor: pointer;
	margin-bottom: 100px;
	margin-top: 40px;
}

.card:hover {
	transform: translateY(-20px);
}

.card::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: linear-gradient(45deg, #040129, #040129);
	border-radius: 1.2em;
}

.card::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(45deg, #5773a6, #c87bffe2);
	filter: blur(10px);
}

.card span {
	position: absolute;
	top: 6px;
	left: 6px;
	right: 6px;
	bottom: 6px;
	background-color: #040129;
	z-index: 2;
	border-radius: 1em;
}

.card .content {
	position: relative;
	padding: 20px;
	z-index: 10;
	width: 90%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	font-weight: 800;
	font-size: 1.2em;
	text-align: center;
}
.content img {
	width: 90%;
	margin-top: 20px;
}
.info {
	display: flex;
	justify-content: space-around;
	width: 500px;
	margin-top: 20px;
}
/* lineInfo */
.lineImg2 {
	width: 130%;
	margin-left: -15%;
	margin-top: 200px;
}
.lineImg2-container {
	height: 400px;
}
/* education */
.schoolInfo {
	display: flex;
	justify-content: space-between;
	width: 700px;
}
.education {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.schoolInfo h3 {
	width: 300px;
}
.education h1 {
	margin-bottom: 50px;
}
